body {
    margin: 0;
    background-image: url("./imgs/slotBack.jpeg");
}


#sidebar {
    position: fixed;
    border: 2px solid darkblue;
    right: 78%;
    bottom: 20px;
    top: 10%;
    left: 2px;
    background-color: black;
    color: white;
    z-index: 3;
    width: 250px;
}

.game{
    width: 720px;
    border: solid 1px #ddd;
    margin: 0 auto;
    background: lightblue;
    border: solid 10px;
    text-align:center;
    min-height: 430px;
}

.btn{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    cursor:pointer;
}


.game h3{
padding: 10px;
background:black;
color:white;
}

.game .game-body{
padding: 20px;
}

.game .game-options{
text-align:center;
}
.game .card{
    width: 80px;
    height: 100px;
    padding: 10px;
    border: solid 1px black;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.game .status{
    display: inline-block;
background: gold;
border: solid 5px white;
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
margin-top: 10px;
display:none;
}


.players{
       width: 500px;
margin: 0 auto;
margin-top: 20px;
text-align: center;
}

.player{
    width: 40%;
    border: solid 5px white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:white;
}

.player.active{
    border: solid 5px #222;
}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}

.deck{
    float:left;
    background: white;
    color:black;
    padding: 10px;
    border-radius:10px;
    border: double 5px;
}

.btn{
    background:black;
    color:white;
    border-radius:0px;
}


#helpButton {
	position: fixed;
	opacity: 0.7;
	background-color: lightblue;
	top: 80%;
	left: 80%;
	height: 100px;
	width: 100px;
	font-size: 16pt;
	z-index: 10;
	margin-left: 0;
	
}